.search{
    display: flex;
}
.searchBox{
    width: 200px;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.searchButton{
    width: 60px;
  height: 36px;
  background-color: #00B4CC;
  text-align: center;
  border-radius: 0 5px 5px 0;
}